@model IEnumerable<IkinciElKitapProjesi.Models.Kullanici>

<h1>Kullanıcılar</h1>

<a asp-action="Create">Yeni Kullanıcı Ekle</a>

<table>
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Rol</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Email</td>
            <td>@item.Rol</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.KullaniciID">Detay</a>
                <a asp-action="Edit" asp-route-id="@item.KullaniciID">Düzenle</a>
                <a asp-action="Delete" asp-route-id="@item.KullaniciID">Sil</a>
            </td>
        </tr>
    }
</table> 